<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!-- SDK APPID    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
      <add key="APP_ID" value="HrSKyCMMH7vx7sqHwNV8evpP3qzjXccnu8mo6WeFZdVU" />

      <!-- //与win64 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
      <add key="SDKKEY64" value="D8GoabzvPwuK1ZNw1JCMebVLgM37on4zSrHov5qmwn2R" />

      <!-- 与win32 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
      <add key="SDKKEY32" value="D8GoabzvPwuK1ZNw1JCMebVLgM37on4zSrHov5qmwn2R" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>